
* {
    margin: 0; padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 1rem;
    color: aliceblue;
}
    .Container {
        display: block;
        width: 100vw;
        height: 100vh;
    }
        header {
            width: 100%;
            height: 15%;
            background: darkred;
            display: grid;
            place-content: center;
            font-size: 2rem;
            letter-spacing: 0.5px;
        }
        main {
            width: 100%;
            height: 70%;
            display: flex;
            place-content: space-evenly;
            background: red;
        }
            .DescBox {
                width: 40%;
            }
                .DescTitle {
                    font-size: 4rem;
                    margin: 50px 0 20px 0;
                }
                .DescContent {
                    font-size: 1rem;
                }
                    .SpanTitle {
                        font-size: 2rem;
                    }
                    .Text {
                        width: 90%;
                    }
            .ToDoList {
                width: 30%;
            }
                h3 {
                    font-size: 4rem;
                    margin: 50px 0 20px 0;
                }
                .InputDisplayFlex {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                }
                    input {
                        width: 60%;
                        margin-right: 20px;
                        padding: 10px;
                        border-radius: 7.25px;
                        border: none;
                    }
                    .AddButton {
                        width: 30%;
                        height: 40px;
                        color: white;
                        background: hsl(0 0% 100% / 0.1);
                        border-radius: 7.25px;
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                    .AddButton:hover {
                        cursor: pointer;
                        background: darkred;
                    }
                #task-list {
                    list-style: none;
                    display: grid;
                }
                    #task-list > li {
                        display: flex;
                        place-items: center;
                        justify-content: space-between;
                        margin-bottom: 5px;
                    }
                    #task-list > li > input {
                        width: 10%;
                        height: 80%;
                    }
                    .task {
                        margin-left: -50px;
                        font-weight: bold;
                    }
                    .delete-btn {
                        width: 20px;
                        height: 20px;
                        border-radius: 50px;
                        border: none;
                        background-color: darkred;
                        cursor: pointer;
                    }
        footer {
            width: 100%;
            height: 15%;
            background: darkred;
            position: absolute;
            bottom: 0;
            display: grid;
            place-content: center;
            font-size: 1rem;
            letter-spacing: 0.4px;
        }